# =========================
# Visual Studio
# =========================
.vs/
*.VC.db
*.VC.opendb

# Build directories
Debug/
Release/
x64/
x86/
out/
bin/
obj/

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib

# Temporary files
*.log
*.tmp
*.swp